In [40]:
import pandas as pd
import os

# Replace 'your_directory' with the path to the folder containing your CSV files
your_directory = '/Users/jacobzhao/Desktop/uoft/2023-2024 Fall/Civ 538/group project/nov 17 hourly data'
files = [os.path.join(your_directory, f) for f in os.listdir(your_directory) if f.endswith('.csv')]

# Merge CSV files
all_data = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

# Save to a new CSV file
all_data.to_csv('merged.csv', index=False)

In [47]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
# Read the CSV into a DataFrame
weather_data_raw = pd.read_csv('merged.csv')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
weather_data_raw.head(10)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (Â°C),...,Wind Spd Flag,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather
0,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 00:00,2016,10,1,00:00,14.1,...,NaN,16.1,NaN,101.44,NaN,NaN,NaN,NaN,NaN,NaN
1,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 01:00,2016,10,1,01:00,14.3,...,NaN,16.1,NaN,101.43,NaN,NaN,NaN,NaN,NaN,NaN
2,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 02:00,2016,10,1,02:00,13.9,...,NaN,16.1,NaN,101.37,NaN,NaN,NaN,NaN,NaN,NaN
3,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 03:00,2016,10,1,03:00,13.9,...,NaN,16.1,NaN,101.28,NaN,NaN,NaN,NaN,NaN,NaN
4,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 04:00,2016,10,1,04:00,14.0,...,NaN,16.1,NaN,101.26,NaN,NaN,NaN,NaN,NaN,NaN
5,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 05:00,2016,10,1,05:00,14.1,...,NaN,16.1,NaN,101.29,NaN,NaN,NaN,NaN,NaN,Rain
6,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 06:00,2016,10,1,06:00,14.2,...,NaN,16.1,NaN,101.30,NaN,NaN,NaN,NaN,NaN,NaN
7,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 07:00,2016,10,1,07:00,14.0,...,NaN,16.1,NaN,101.30,NaN,NaN,NaN,NaN,NaN,NaN
8,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 08:00,2016,10,1,08:00,14.2,...,NaN,16.1,NaN,101.25,NaN,NaN,NaN,NaN,NaN,NaN
9,-79.4,43.63,TORONTO CITY CENTRE,6158359,2016-10-01 09:00,2016,10,1,09:00,13.7,...,NaN,16.1,NaN,101.25,NaN,NaN,NaN,NaN,NaN,Rain

In [50]:
#create a new data frame contains the useful columns below
#location: Longitude (x)
#location: Latitude (y)
#Date/Time (LST)
#Temp (Â°C)
#Precip. Amount (mm)
#Wind Spd (km/h)
#Visibility (km)
#Weather

weather_data_sorted = weather_data_raw[['Date/Time (LST)','Longitude (x)', 'Latitude (y)', 'Temp (Â°C)', 
                                        'Precip. Amount (mm)','Wind Spd (km/h)','Visibility (km)',
                                        'Weather',]]

#convert the date into dattime format
weather_data_sorted['Date/Time (LST)'] = pd.to_datetime(weather_data_sorted['Date/Time (LST)'])

#order the date time from 2014 to 2023
weather_data_sorted = weather_data_sorted.sort_values(by='Date/Time (LST)', ascending=True)



weather_data_sorted.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Date/Time (LST),Longitude (x),Latitude (y),Temp (Â°C),Precip. Amount (mm),Wind Spd (km/h),Visibility (km),Weather
62664,2014-01-01 00:00:00,-79.4,43.63,-8.3,NaN,22.0,16.1,NaN
62665,2014-01-01 01:00:00,-79.4,43.63,-8.2,NaN,39.0,16.1,NaN
62666,2014-01-01 02:00:00,-79.4,43.63,-8.6,NaN,30.0,16.1,NaN
62667,2014-01-01 03:00:00,-79.4,43.63,-8.8,NaN,32.0,16.1,NaN
62668,2014-01-01 04:00:00,-79.4,43.63,-8.9,NaN,32.0,16.1,NaN

In [51]:
# Drop rows where 'Precip. Amount (mm)' is NaN
weather_data_sorted = weather_data_sorted.dropna(subset=['Precip. Amount (mm)'])

# Drop rows where 'Precip. Amount (mm)' is 0
weather_data_sorted = weather_data_sorted[weather_data_sorted['Precip. Amount (mm)'] != 0]

'''note: there are data in 2014 that does not contain precip amount'''

weather_data_sorted.head(100)

,Date/Time (LST),Longitude (x),Latitude (y),Temp (Â°C),Precip. Amount (mm),Wind Spd (km/h),Visibility (km),Weather
61273,2014-06-03 01:00:00,-79.4,43.63,15.7,1.0,11.0,4.0,"Rain,Fog"
61274,2014-06-03 02:00:00,-79.4,43.63,15.3,2.2,0.0,1.2,"Rain,Fog"
61275,2014-06-03 03:00:00,-79.4,43.63,15.3,2.0,8.0,2.4,"Rain,Fog"
61276,2014-06-03 04:00:00,-79.4,43.63,15.7,0.2,4.0,0.8,"Rain,Fog"
61277,2014-06-03 05:00:00,-79.4,43.63,15.0,1.5,0.0,1.6,"Rain,Fog"
...,...,...,...,...,...,...,...,...
21853,2014-09-02 13:00:00,-79.4,43.63,22.0,0.8,15.0,6.4,"Rain,Fog"
21854,2014-09-02 14:00:00,-79.4,43.63,18.7,8.6,18.0,4.0,"Thunderstorms,Moderate Rain,Fog"
21855,2014-09-02 15:00:00,-79.4,43.63,19.4,4.5,11.0,16.1,Rain
21856,2014-09-02 16:00:00,-79.4,43.63,19.4,0.2,15.0,16.1,NaN
21919,2014-09-05 07:00:00,-79.4,43.63,22.2,0.8,11.0,11.3,"Thunderstorms,Rain"

In [52]:
# Save to a new CSV file
weather_data_sorted.to_csv('hourly_weather_data_clean.csv', index=False)